In [1]:
import pandas as pd
df = pd.read_csv("/content/Corona_NLP.csv")
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral

In [ ]:
df = df.drop(columns=['UserName', 'ScreenName', 'Location', 'TweetAt',])
df

In [3]:
sentiment = pd.get_dummies(df.Sentiment)
df_tweet = pd.concat([df, sentiment], axis=1)
df_tweet = df_tweet.drop(columns='Sentiment')
df_tweet

,OriginalTweet,Extremely Negative,Extremely Positive,Negative,Neutral,Positive
0,TRENDING: New Yorkers encounter empty supermar...,1,0,0,0,0
1,When I couldn't find hand sanitizer at Fred Me...,0,0,0,0,1
2,Find out how you can protect yourself and love...,0,1,0,0,0
3,#Panic buying hits #NewYork City as anxious sh...,0,0,1,0,0
4,#toiletpaper #dunnypaper #coronavirus #coronav...,0,0,0,1,0
...,...,...,...,...,...,...
3793,Meanwhile In A Supermarket in Israel -- People...,0,0,0,0,1
3794,Did you panic buy a lot of non-perishable item...,0,0,1,0,0
3795,Asst Prof of Economics @cconces was on @NBCPhi...,0,0,0,1,0
3796,Gov need to do somethings instead of biar je r...,1,0,0,0,0
3797,I and @ForestandPaper members are committed to...,0,1,0,0,0

In [4]:
tweets = df_tweet['OriginalTweet'].values
label = df_tweet[['Extremely Negative', 'Extremely Positive', 'Negative', 'Neutral', 'Positive']].values

In [5]:
from sklearn.model_selection import train_test_split
tweet_train, tweet_test, label_train, label_test = train_test_split(tweets, label, test_size=0.2)

In [6]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

tokenizer = Tokenizer(num_words=5000, oov_token='x')
tokenizer.fit_on_texts(tweet_train)
# tokenizer.fit_on_texts(tweet_test)

sequence_train = tokenizer.texts_to_sequences(tweet_train)
sequence_test = tokenizer.texts_to_sequences(tweet_test)

padded_train = pad_sequences(sequence_train)
padded_test = pad_sequences(sequence_test)

In [7]:
import tensorflow as tf

model = tf.keras.Sequential([
    tf.keras.layers.Embedding(input_dim=5000, output_dim=16),
    tf.keras.layers.LSTM(64),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(5, activation='softmax')
])

model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [8]:
num_epochs = 30
history = model.fit(padded_train, label_train, epochs=num_epochs,
                    validation_data=(padded_test, label_test), verbose=2)

Epoch 1/30
95/95 - 7s - loss: 1.5799 - accuracy: 0.2670 - val_loss: 1.5857 - val_accuracy: 0.2526 - 7s/epoch - 75ms/step
Epoch 2/30
95/95 - 4s - loss: 1.5153 - accuracy: 0.3005 - val_loss: 1.4915 - val_accuracy: 0.3276 - 4s/epoch - 37ms/step
Epoch 3/30
95/95 - 3s - loss: 1.3130 - accuracy: 0.3983 - val_loss: 1.5124 - val_accuracy: 0.3618 - 3s/epoch - 36ms/step
Epoch 4/30
95/95 - 3s - loss: 1.0871 - accuracy: 0.4987 - val_loss: 1.6173 - val_accuracy: 0.3434 - 3s/epoch - 36ms/step
Epoch 5/30
95/95 - 4s - loss: 0.8522 - accuracy: 0.6267 - val_loss: 1.9534 - val_accuracy: 0.3658 - 4s/epoch - 37ms/step
Epoch 6/30
95/95 - 5s - loss: 0.6708 - accuracy: 0.7248 - val_loss: 2.1761 - val_accuracy: 0.3553 - 5s/epoch - 54ms/step
Epoch 7/30
95/95 - 6s - loss: 0.5389 - accuracy: 0.7795 - val_loss: 2.4752 - val_accuracy: 0.3697 - 6s/epoch - 64ms/step
Epoch 8/30
95/95 - 4s - loss: 0.4462 - accuracy: 0.8249 - val_loss: 3.0646 - val_accuracy: 0.3553 - 4s/epoch - 39ms/step
Epoch 9/30
95/95 - 4s - loss: 0.3337 - accuracy: 0.8779 - val_loss: 3.2137 - val_accuracy: 0.3605 - 4s/epoch - 41ms/step
Epoch 10/30
95/95 - 3s - loss: 0.2551 - accuracy: 0.9118 - val_loss: 3.5508 - val_accuracy: 0.3684 - 3s/epoch - 35ms/step
Epoch 11/30
95/95 - 4s - loss: 0.1786 - accuracy: 0.9398 - val_loss: 3.8325 - val_accuracy: 0.3579 - 4s/epoch - 38ms/step
Epoch 12/30
95/95 - 4s - loss: 0.1274 - accuracy: 0.9612 - val_loss: 4.1153 - val_accuracy: 0.3684 - 4s/epoch - 37ms/step
Epoch 13/30
95/95 - 3s - loss: 0.1048 - accuracy: 0.9658 - val_loss: 4.3708 - val_accuracy: 0.3803 - 3s/epoch - 37ms/step
Epoch 14/30
95/95 - 3s - loss: 0.0784 - accuracy: 0.9753 - val_loss: 4.5102 - val_accuracy: 0.3671 - 3s/epoch - 35ms/step
Epoch 15/30
95/95 - 4s - loss: 0.0851 - accuracy: 0.9756 - val_loss: 4.3939 - val_accuracy: 0.3750 - 4s/epoch - 37ms/step
Epoch 16/30
95/95 - 4s - loss: 0.0612 - accuracy: 0.9839 - val_loss: 4.6998 - val_accuracy: 0.3961 - 4s/epoch - 38ms/step
Epoch 17/30
95/95 - 4s - loss: 0.0270 - accuracy: 0.9914 - val_loss: 5.1498 - val_accuracy: 0.3882 - 4s/epoch - 39ms/step
Epoch 18/30
95/95 - 4s - loss: 0.0293 - accuracy: 0.9921 - val_loss: 5.1093 - val_accuracy: 0.3921 - 4s/epoch - 46ms/step
Epoch 19/30
95/95 - 3s - loss: 0.0267 - accuracy: 0.9924 - val_loss: 5.4947 - val_accuracy: 0.3934 - 3s/epoch - 36ms/step
Epoch 20/30
95/95 - 3s - loss: 0.0252 - accuracy: 0.9924 - val_loss: 5.5337 - val_accuracy: 0.4079 - 3s/epoch - 34ms/step
Epoch 21/30
95/95 - 3s - loss: 0.0287 - accuracy: 0.9918 - val_loss: 5.6238 - val_accuracy: 0.3961 - 3s/epoch - 36ms/step
Epoch 22/30
95/95 - 4s - loss: 0.0368 - accuracy: 0.9875 - val_loss: 5.8791 - val_accuracy: 0.3618 - 4s/epoch - 39ms/step
Epoch 23/30
95/95 - 3s - loss: 0.0548 - accuracy: 0.9819 - val_loss: 5.2319 - val_accuracy: 0.3803 - 3s/epoch - 36ms/step
Epoch 24/30
95/95 - 3s - loss: 0.0312 - accuracy: 0.9931 - val_loss: 5.4205 - val_accuracy: 0.3842 - 3s/epoch - 35ms/step
Epoch 25/30
95/95 - 3s - loss: 0.0152 - accuracy: 0.9957 - val_loss: 5.3854 - val_accuracy: 0.3842 - 3s/epoch - 35ms/step
Epoch 26/30
95/95 - 3s - loss: 0.0853 - accuracy: 0.9747 - val_loss: 5.5372 - val_accuracy: 0.3776 - 3s/epoch - 35ms/step
Epoch 27/30
95/95 - 3s - loss: 0.0533 - accuracy: 0.9829 - val_loss: 5.1489 - val_accuracy: 0.3921 - 3s/epoch - 34ms/step
Epoch 28/30
95/95 - 4s - loss: 0.0325 - accuracy: 0.9914 - val_loss: 5.0652 - val_accuracy: 0.4013 - 4s/epoch - 38ms/step
Epoch 29/30
95/95 - 3s - loss: 0.0044 - accuracy: 0.9993 - val_loss: 5.3164 - val_accuracy: 0.4053 - 3s/epoch - 36ms/step
Epoch 30/30
95/95 - 4s - loss: 0.0016 - accuracy: 1.0000 - val_loss: 5.5845 - val_accuracy: 0.4026 - 4s/epoch - 38ms/step